<header class="jumbotron">
  <h1 class="text-center">Cadastrar Fotos</h1>
</header>

<section class="container">

  <div class="row" (submit)="salvar($event)">
    <form  class="col-sm-6">

      <p *ngIf="mensagem" class="alert alert-success">{{mensagem}}</p> 

      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input id="titulo" type="text" [(ngModel)]="foto.titulo" name="titulo"
               value="{{foto.titulo}}" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="url">URL</label>
        <input id="url" type="text" [(ngModel)]="foto.url" name="url"
              value="{{foto.url}}" class="form-control">
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea name="" id="descricao" [(ngModel)]="foto.descricao" name="descricao" class="form-control">
          {{foto.descricao}}
        </textarea>
      </div>

      <a [routerLink]="['']" class="btn btn-default">voltar</a>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <aside class="col-sm-4">
      <painel titulo="{{foto.titulo}}">
        <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
      </painel>
    </aside>
  </div>

</section>