<header class="jumbotron">
  <h1 class="text-center">Cadastrar Fotos</h1>
</header>

<section class="container">

  <div class="row">
    <form [formGroup]="formCadastro" class="col-sm-6" (submit)="salvar($event)">

      <p *ngIf="mensagem" class="alert alert-success">{{mensagem}}</p> 

      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input formControlName="titulo" id="titulo" type="text" [(ngModel)]="foto.titulo" name="titulo"
               value="{{foto.titulo}}" class="form-control">
        
        <div *ngIf="formCadastro.controls.titulo.errors">       
          <div class="alert alert-warning" *ngIf="formCadastro.controls.titulo.errors.required">
            Titulo deve ser digitado
          </div>
          <div class="alert alert-warning" *ngIf="formCadastro.controls.titulo.errors.minlength">
            Titulo deve ter pelo menos 3 caracteres
          </div>
        </div>

      </div>
      
      <div class="form-group">
        <label for="url">URL</label>
        <input formControlName="url" id="url" type="text" [(ngModel)]="foto.url" name="url"
              value="{{foto.url}}" class="form-control">
        <div class="alert alert-warning" *ngIf="formCadastro.controls.url.invalid">
          URL deve ser digitada
        </div>
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea formControlName="descricao" name="" id="descricao" [(ngModel)]="foto.descricao" name="descricao" class="form-control">
          {{foto.descricao}}
        </textarea>
      </div>

      <a [routerLink]="['']" class="btn btn-default">voltar</a>
      <button [disabled]="formCadastro.invalid" type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <aside class="col-sm-4">
      <painel titulo="{{foto.titulo}}" *ngIf="foto.titulo">
        <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
      </painel>
    </aside>
  </div>

</section>